    @media print {

      .nganu{
        background-image: url('http://localhost:1234/assets/images/background-pendaftaran.png');
        width: 40%;
        height: 400px;
        margin-left: 2px;
        display: inline;
      }

      .mobile{
        padding-left: 35px;
      }
      .btn-simpan{
        padding-left: 70px;
          margin-bottom: 30px;

      }

      @media (max-width: 480px){
        .nganu {
          background-image: url('http://localhost:1234/assets/images/background-pendaftaran-mobile.png');
          width: 100%;
          height: 650px;
        }
        .mobile{
          width: 200px;
        }
        .btn-simpan{
          padding-left: 20px;
          margin-bottom: 30px;
        }
      }

    }